// Styles écran principal
// ======================

// Calage du tableau pour que les jauges prennent le maximum de place,
// et que les boutons d’ajout ou icônes de complétion soient bien
// alignés verticalement.
.goalTracker
  table
    width 100%
  td
    white-space no-wrap
    &:last-child
      padding-top 43px
    &:first-child
      width 100%

